# General ignores
/*
!.gitignore
!README.md

!/wp-content
/wp-content/*

# Theme ignores

!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/lifeline

# Plugin ignores

!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/lifeline
/vendor/
